methods/04-node-red-fft-waterfall/flow.json
[
  {
    "id": "f04",
    "type": "tab",
    "label": "Method 4 \u2014 FFT / Waterfall",
    "disabled": false,
    "info": "CTC dyn/vib/notify -> reassemble -> FFT -> spectrum + waterfall. See README.md"
  },
  {
    "id": "brk1",
    "type": "mqtt-broker",
    "name": "iot-hivemq",
    "broker": "iot-hivemq",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "closeTopic": "",
    "willTopic": "",
    "sessionExpiry": ""
  },
  {
    "id": "uibase",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": true
      },
      "darkTheme": {
        "default": true
      }
    },
    "site": {
      "name": "ACCESS360",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "dateFormat": "YYYY-MM-DD HH:mm"
    }
  },
  {
    "id": "uitab",
    "type": "ui_tab",
    "name": "ACCESS360 Vibration",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "gctrl",
    "type": "ui_group",
    "name": "Controls",
    "tab": "uitab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "gspec",
    "type": "ui_group",
    "name": "FFT Spectrum (amplitude vs frequency)",
    "tab": "uitab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "gwf",
    "type": "ui_group",
    "name": "Waterfall (frequency x time)",
    "tab": "uitab",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqttin",
    "type": "mqtt in",
    "z": "f04",
    "name": "dyn/vib/notify",
    "topic": "access360/43250372/dyn/vib/notify",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "brk1",
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [
      [
        "fnreasm"
      ]
    ]
  },
  {
    "id": "inj",
    "type": "inject",
    "z": "f04",
    "name": "Load fixture (offline test)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "once": false,
    "payloadType": "date",
    "x": 170,
    "y": 200,
    "wires": [
      [
        "filein"
      ]
    ]
  },
  {
    "id": "filein",
    "type": "file in",
    "z": "f04",
    "name": "ws300 fixture",
    "filename": "/data/fixtures/ws300-dyn-vib-notify.json",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 420,
    "y": 200,
    "wires": [
      [
        "parsefix"
      ]
    ]
  },
  {
    "id": "parsefix",
    "type": "json",
    "z": "f04",
    "name": "parse",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 560,
    "y": 200,
    "wires": [
      [
        "fnreasm"
      ]
    ]
  },
  {
    "id": "fnreasm",
    "type": "function",
    "z": "f04",
    "name": "reassemble + unwrap",
    "func": "// Multipart reassembly + Reading-wrapper unwrap (mirror of lib/reassemble.js)\nvar store = context.get('mp') || {};\nfunction feed(o){\n  if(o==null||typeof o!=='object'||o.MultiPart_ID===undefined) return o;\n  var id=o.MultiPart_ID;\n  var buf=store[id]||(store[id]=[]);\n  buf.push(String(o.Data==null?'':o.Data));\n  try{ var p=JSON.parse(buf.join('')); delete store[id]; return p; }\n  catch(e){ return null; }\n}\nvar parsed = feed(msg.payload);\ncontext.set('mp', store);\nif(parsed==null) return null;            // still buffering fragments\nvar r = (parsed && parsed.Reading && typeof parsed.Reading==='object') ? parsed.Reading : parsed;\nif(!r || !r.Fs || !r.Samples){ node.warn('dyn/vib without waveform fields'); return null; }\nmsg.meta = { serial:r.Serial, id:r.ID, time:r.Time, Fs:r.Fs, Samples:r.Samples };\nmsg.axes = { X:r.X, Y:r.Y, Z:r.Z };\nnode.status({fill:'green',shape:'dot',text:'rd '+r.Serial+' #'+r.ID});\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 120,
    "wires": [
      [
        "fnfft"
      ]
    ]
  },
  {
    "id": "fnfft",
    "type": "function",
    "z": "f04",
    "name": "FFT + downsample",
    "func": "// FFT -> single-sided spectrum -> downsample -> [chart, waterfall]\n// (mirror of lib/fft.js; 6400 samples Hann-windowed and zero-padded to 8192)\nfunction nextPow2(n){var p=1;while(p<n)p<<=1;return p;}\nfunction hann(N){var w=new Float64Array(N);for(var i=0;i<N;i++)w[i]=0.5*(1-Math.cos(2*Math.PI*i/(N-1)));return w;}\nfunction fft(re,im){var n=re.length;for(var i=1,j=0;i<n;i++){var bit=n>>1;for(;j&bit;bit>>=1)j^=bit;j^=bit;if(i<j){var tr=re[i];re[i]=re[j];re[j]=tr;var ti=im[i];im[i]=im[j];im[j]=ti;}}for(var L=2;L<=n;L<<=1){var ang=-2*Math.PI/L;var wr=Math.cos(ang),wi=Math.sin(ang);for(var s=0;s<n;s+=L){var cwr=1,cwi=0;for(var k=0;k<L/2;k++){var a=s+k,b=s+k+L/2;var vr=re[b]*cwr-im[b]*cwi;var vi=re[b]*cwi+im[b]*cwr;re[b]=re[a]-vr;im[b]=im[a]-vi;re[a]+=vr;im[a]+=vi;var ncwr=cwr*wr-cwi*wi;cwi=cwr*wi+cwi*wr;cwr=ncwr;}}}}\nfunction spectrum(sig,Fs){var N0=sig.length;var w=hann(N0);var Nfft=nextPow2(N0);var re=new Float64Array(Nfft),im=new Float64Array(Nfft);var ws=0;for(var i=0;i<N0;i++){re[i]=sig[i]*w[i];ws+=w[i];}fft(re,im);var half=Nfft>>1;var mag=new Float64Array(half),fr=new Float64Array(half);var df=Fs/Nfft;for(var k=0;k<half;k++){var m=Math.sqrt(re[k]*re[k]+im[k]*im[k]);mag[k]=(k===0?1:2)*m/ws;fr[k]=k*df;}return {freqs:fr,mag:mag};}\n\nvar axis = flow.get('axis') || 'Z';\nvar sig = (msg.axes && msg.axes[axis]) ? msg.axes[axis] : null;\nif(!sig || !sig.length){ node.warn('axis '+axis+' empty (WS200 is single-axis)'); return null; }\nvar sp = spectrum(sig, msg.meta.Fs);\nvar half = sp.mag.length;\n\nvar BINS = 256, step = half/BINS;\nvar bars = new Array(BINS), freqs = new Array(BINS);\nfor(var b=0;b<BINS;b++){\n  var lo=Math.floor(b*step), hi=Math.floor((b+1)*step); if(hi<=lo)hi=lo+1;\n  var mx=0, fAt=sp.freqs[lo];\n  for(var k=lo;k<hi&&k<half;k++){ if(sp.mag[k]>mx){mx=sp.mag[k];fAt=sp.freqs[k];} }\n  bars[b]=mx; freqs[b]=fAt;\n}\nvar pts=[]; for(var c=0;c<BINS;c++) pts.push({x:Math.round(freqs[c]),y:bars[c]});\nvar chartMsg = { payload:[ {series:[axis], data:[pts], labels:['']} ] };\nvar wfMsg = { payload:{ axis:axis, serial:msg.meta.serial, time:msg.meta.time,\n  fmax:Math.round(sp.freqs[half-1]), bins:bars } };\nnode.status({fill:'blue',shape:'dot',text:axis+' fft ok'});\nreturn [chartMsg, wfMsg];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 120,
    "wires": [
      [
        "chart",
        "dbg"
      ],
      [
        "wf"
      ]
    ]
  },
  {
    "id": "axdd",
    "type": "ui_dropdown",
    "z": "f04",
    "name": "Axis",
    "label": "Axis",
    "tooltip": "",
    "place": "Select axis",
    "group": "gctrl",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "Z",
        "value": "Z",
        "type": "str"
      },
      {
        "label": "Y",
        "value": "Y",
        "type": "str"
      },
      {
        "label": "X",
        "value": "X",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "x": 170,
    "y": 300,
    "wires": [
      [
        "fnsetax"
      ]
    ]
  },
  {
    "id": "fnsetax",
    "type": "function",
    "z": "f04",
    "name": "set axis",
    "func": "// dropdown -> flow context axis (applies to next reading)\nflow.set('axis', msg.payload);\nnode.status({fill:'grey',shape:'ring',text:'axis='+msg.payload});\nreturn null;\n",
    "outputs": 0,
    "noerr": 0,
    "x": 380,
    "y": 300,
    "wires": []
  },
  {
    "id": "chart",
    "type": "ui_chart",
    "z": "f04",
    "name": "Spectrum",
    "group": "gspec",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "FFT spectrum",
    "chartType": "line",
    "legend": "false",
    "xformat": "auto",
    "interpolate": "linear",
    "nodata": "waiting for FFT\u2026",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 860,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "wf",
    "type": "ui_template",
    "z": "f04",
    "name": "Waterfall",
    "group": "gwf",
    "order": 1,
    "width": "12",
    "height": "7",
    "format": "<div style=\"padding:4px\">\n  <canvas id=\"a360wf\" width=\"512\" height=\"260\"\n          style=\"width:100%;height:260px;background:#05060a;border-radius:4px\"></canvas>\n  <div id=\"a360wflbl\" style=\"color:#9aa;font:12px/1.4 monospace;margin-top:4px\">waiting for readings\u2026</div>\n</div>\n<script>\n(function(scope){\n  var cv=document.getElementById('a360wf'), ctx=cv.getContext('2d');\n  var W=cv.width, H=cv.height, gmax=1e-9;\n  function turbo(v){ // 0..1 -> blue->green->red\n    v=Math.max(0,Math.min(1,v));\n    var r=Math.round(255*Math.min(1,Math.max(0,1.6*v-0.2)));\n    var g=Math.round(255*Math.min(1,Math.max(0,1.6*v>1?2-1.6*v:1.6*v-0.1)));\n    var b=Math.round(255*Math.min(1,Math.max(0,1.0-1.8*v)));\n    return 'rgb('+r+','+g+','+b+')';\n  }\n  scope.$watch('msg', function(msg){\n    if(!msg||!msg.payload||!msg.payload.bins) return;\n    var bins=msg.payload.bins, n=bins.length, i;\n    for(i=0;i<n;i++) if(bins[i]>gmax) gmax=bins[i];\n    var img=ctx.getImageData(0,0,W,H-1);   // scroll down 1px\n    ctx.putImageData(img,0,1);\n    for(var x=0;x<W;x++){\n      var v=bins[Math.floor(x/W*n)]/gmax;\n      ctx.fillStyle=turbo(v);\n      ctx.fillRect(x,0,1,1);\n    }\n    document.getElementById('a360wflbl').textContent =\n      'sensor '+msg.payload.serial+'  \u2022  axis '+msg.payload.axis+\n      '  \u2022  0\u2013'+msg.payload.fmax+' Hz  \u2022  '+(msg.payload.time||'');\n  });\n})(scope);\n</script>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 860,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "dbg",
    "type": "debug",
    "z": "f04",
    "name": "spectrum",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 860,
    "y": 60,
    "wires": []
  }
]
