methods/04-node-red-fft-waterfall/deploy/flows-backup-pre-deploy.json
[{"id":"f9cda89ec59d6722","type":"tab","label":"CTC Vibration Observability","disabled":false,"info":"Corrected flow for CTC ACCESS360 Gateway → HiveMQ → InfluxDB 3.0"},{"id":"04dc19e483fa0598","type":"mqtt-broker","name":"","broker":"192.168.68.150","port":1883,"clientid":"nodered_subscriber","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f9e9165ee792061e","type":"mqtt-broker","name":"","broker":"192.168.68.150","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"test/nodered","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"hivemq_proxmox","type":"mqtt-broker","name":"HiveMQ Proxmox","broker":"192.168.68.150","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"influx_3_node","type":"influxdb","hostname":"192.168.68.150","port":"8086","protocol":"http","database":"ctc43250372","name":"InfluxDB 3.0 Core","usetls":false,"influxdbVersion":"1.x"},{"id":"a599e2ecbf5f669d","type":"mqtt-broker","name":"","broker":"iot-hivemq","port":1883,"clientid":"nodered-ctc-processor","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":60,"cleansession":false,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"97c81edfc4d33ed9","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"InfluxDB 3.0 Core Docker","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://iot-influxdb3:8181","timeout":10,"rejectUnauthorized":true},{"id":"ce62b3716c11d225","type":"mqtt in","z":"f9cda89ec59d6722","name":"📡 CTC Gateway — ALL Topics","topic":"access360/43250372/#","qos":"1","datatype":"json","broker":"a599e2ecbf5f669d","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":200,"wires":[["c65892fd6e4d3838","e6e1b798f4143cb5"]]},{"id":"c65892fd6e4d3838","type":"switch","z":"f9cda89ec59d6722","name":"🔀 Topic Router","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"dyn/vib/notify/lite","vt":"str"},{"t":"cont","v":"dyn/vib/notify","vt":"str"},{"t":"cont","v":"proc/reading/notify","vt":"str"},{"t":"cont","v":"dyn/batt/notify","vt":"str"},{"t":"cont","v":"proc/checkin/notify","vt":"str"},{"t":"cont","v":"rssi/notify","vt":"str"},{"t":"cont","v":"error/notify","vt":"str"},{"t":"cont","v":"status/notify","vt":"str"}],"checkall":false,"repair":false,"outputs":8,"x":400,"y":340,"wires":[["e2af7a8850a598e4"],["e3b1570630df2ff9"],["3425c4b0d84bbdfc"],["b0a58ce3f2e51472"],["54d8d6dcc472672f"],["6a8d9df3808e2ee3"],["e56fde391cd03fb7"],["5b28e2560be2a403"]]},{"id":"e2af7a8850a598e4","type":"function","z":"f9cda89ec59d6722","name":"⚙️ WS200 Vibration Lite","func":"// WS200/WS300 Dynamic Vibration — Lite Summary\n// Topic: dyn/vib/notify/lite\n// Payload has nested \"Reading\" object\n\nconst reading = msg.payload.Reading;\nif (!reading) {\n    node.warn(\"dyn/vib/notify/lite: Missing 'Reading' object\");\n    return null;\n}\n\nmsg.measurement = \"vibration\";\nmsg.tags = {\n    sensor_id: reading.Serial ? reading.Serial.toString() : \"unknown\",\n    gateway_sn: \"43250372\",\n    model: (reading.Serial ? (reading.Serial.toString().startsWith(\"2225\") ? \"WS300\" : reading.Serial.toString().startsWith(\"1125\") ? \"WS200\" : \"WS_DYNAMIC\") : \"WS_DYNAMIC\"),\n    data_type: \"lite\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = new Date(reading.Time + \"Z\").getTime();\nmsg.payload = {\n    x_pk: reading.Xpk || 0,\n    x_pp: reading.Xpp || 0,\n    x_rms: reading.Xrms || 0,\n    y_pk: reading.Ypk || 0,\n    y_pp: reading.Ypp || 0,\n    y_rms: reading.Yrms || 0,\n    z_pk: reading.Zpk || 0,\n    z_pp: reading.Zpp || 0,\n    z_rms: reading.Zrms || 0,\n    vel_x_pk: reading.VelXpk || 0,\n    vel_x_pp: reading.VelXpp || 0,\n    vel_x_rms: reading.VelXrms || 0,\n    vel_y_pk: reading.VelYpk || 0,\n    vel_y_pp: reading.VelYpp || 0,\n    vel_y_rms: reading.VelYrms || 0,\n    vel_z_pk: reading.VelZpk || 0,\n    vel_z_pp: reading.VelZpp || 0,\n    vel_z_rms: reading.VelZrms || 0,\n    reading_id: reading.ID || 0\n};\n\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":180,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"e3b1570630df2ff9","type":"function","z":"f9cda89ec59d6722","name":"⚙️ WS200 Vibration Full (FFT)","func":"// WS200/WS300 Dynamic Vibration — Full FFT Spectrum\n// Topic: dyn/vib/notify (without /lite)\n\nconst isAlert = msg.payload.IsAlert;\nconst reading = msg.payload.Reading;\nif (!reading) {\n    node.warn(\"dyn/vib/notify: Missing 'Reading' object\");\n    return null;\n}\n\nmsg.measurement = \"vibration_fft\";\nmsg.tags = {\n    sensor_id: reading.Serial ? reading.Serial.toString() : \"unknown\",\n    gateway_sn: \"43250372\",\n    model: (reading.Serial ? (reading.Serial.toString().startsWith(\"2225\") ? \"WS300\" : reading.Serial.toString().startsWith(\"1125\") ? \"WS200\" : \"WS_DYNAMIC\") : \"WS_DYNAMIC\"),\n    data_type: \"fft\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = new Date(reading.Time + \"Z\").getTime();\nmsg.payload = {\n    samples: reading.Samples || 0,\n    sampling_freq: reading.Fs || 0,\n    read_period: reading.ReadPeriod || 0,\n    reading_id: reading.ID || 0,\n    is_alert: isAlert ? 1 : 0\n};\n\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":240,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"3425c4b0d84bbdfc","type":"function","z":"f9cda89ec59d6722","name":"⚙️ WS100 Process","func":"// WS100 Process Control Sensor\n// Topic: proc/reading/notify\n\nconst data = msg.payload;\nif (!data.Serial) {\n    node.warn(\"proc/reading/notify: Missing 'Serial'\");\n    return null;\n}\n\nmsg.measurement = \"vibration\";\nmsg.tags = {\n    sensor_id: data.Serial.toString(),\n    gateway_sn: \"43250372\",\n    model: \"WS100\",\n    data_type: \"process\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = new Date(data.Time + \"Z\").getTime();\nmsg.payload = {\n    x_rms: data.Xrms || 0,\n    y_rms: data.Yrms || 0,\n    z_rms: data.Zrms || 0,\n    temperature: data.Temp || 0,\n    battery: data.Batt || 0\n};\n\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":300,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"b0a58ce3f2e51472","type":"function","z":"f9cda89ec59d6722","name":"🔋 Battery","func":"// Battery Notification\n// Topic: dyn/batt/notify\n\nconst data = msg.payload;\nif (!data.Serial) {\n    node.warn(\"dyn/batt/notify: Missing 'Serial'\");\n    return null;\n}\n\nmsg.measurement = \"sensor_health\";\nmsg.tags = {\n    sensor_id: data.Serial.toString(),\n    gateway_sn: \"43250372\",\n    metric: \"battery\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = new Date(data.Time + \"Z\").getTime();\nmsg.payload = {\n    battery_pct: data.Batt || 0,\n    reading_id: data.ID || 0\n};\n\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":360,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"54d8d6dcc472672f","type":"function","z":"f9cda89ec59d6722","name":"💓 Check-in","func":"// Sensor Heartbeat / Check-in\n// Topic: proc/checkin/notify\n\nconst data = msg.payload;\nif (!data.Serial) {\n    node.warn(\"proc/checkin/notify: Missing 'Serial'\");\n    return null;\n}\n\nmsg.measurement = \"sensor_health\";\nmsg.tags = {\n    sensor_id: data.Serial.toString(),\n    gateway_sn: \"43250372\",\n    metric: \"checkin\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = new Date(data.Time + \"Z\").getTime();\nmsg.payload = {\n    online: 1\n};\n\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":420,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"6a8d9df3808e2ee3","type":"function","z":"f9cda89ec59d6722","name":"📶 RSSI Signal","func":"// BLE Signal Strength\n// Topic: rssi/notify\n\nconst data = msg.payload;\nif (!data.Serial) {\n    node.warn(\"rssi/notify: Missing 'Serial'\");\n    return null;\n}\n\nmsg.measurement = \"sensor_health\";\nmsg.tags = {\n    sensor_id: data.Serial.toString(),\n    gateway_sn: \"43250372\",\n    metric: \"rssi\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = new Date(data.Timestamp + \"Z\").getTime();\nmsg.payload = {\n    rssi_dbm: data.Rssi || 0\n};\n\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"e56fde391cd03fb7","type":"function","z":"f9cda89ec59d6722","name":"❌ Error Handler","func":"// Error Notifications\n// Topic: error/notify\n\nconst data = msg.payload;\n\nmsg.measurement = \"gateway_events\";\nmsg.tags = {\n    gateway_sn: \"43250372\",\n    event_type: \"error\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = Date.now();\nmsg.payload = {\n    error_payload: JSON.stringify(data),\n    severity: 1\n};\n\nnode.warn(\"CTC Gateway ERROR: \" + JSON.stringify(data));\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":540,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"5b28e2560be2a403","type":"function","z":"f9cda89ec59d6722","name":"📊 Status","func":"// Status Notifications\n// Topic: status/notify\n\nconst data = msg.payload;\n\nmsg.measurement = \"gateway_events\";\nmsg.tags = {\n    gateway_sn: \"43250372\",\n    event_type: \"status\",\n    site: \"Cement_Plant\"\n};\nmsg.timestamp = Date.now();\nmsg.payload = {\n    status_payload: JSON.stringify(data)\n};\n\nmsg.payload = [msg.payload, msg.tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":600,"wires":[["10e3142590829597","a3a98a6bda31fbd1"]]},{"id":"10e3142590829597","type":"influxdb out","z":"f9cda89ec59d6722","influxdb":"97c81edfc4d33ed9","name":"📝 Write to InfluxDB 3","measurement":"","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"excemca","bucket":"ctc43250372","x":1100,"y":340,"wires":[]},{"id":"a3a98a6bda31fbd1","type":"debug","z":"f9cda89ec59d6722","name":"🔍 Debug — Processed Data","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.measurement","statusType":"msg","x":1030,"y":480,"wires":[]},{"id":"e6e1b798f4143cb5","type":"debug","z":"f9cda89ec59d6722","name":"📨 Debug — Raw MQTT","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"topic","statusType":"msg","x":490,"y":100,"wires":[]}]