methods/03-grafana-live/normalizer/flow.json
[
  {
    "id": "a360vel_tab",
    "type": "tab",
    "label": "ACCESS360 \u2014 velocity normalizer",
    "disabled": false,
    "info": "Flattens dyn/vib/notify velocity (in/s) to access360/43250372/derived/vib so the Grafana Live MQTT datasource (which does not flatten nested JSON) can plot IPS."
  },
  {
    "id": "a360vel_in",
    "type": "mqtt in",
    "z": "a360vel_tab",
    "name": "dyn/vib/notify",
    "topic": "access360/43250372/dyn/vib/notify",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "a599e2ecbf5f669d",
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [
      [
        "a360vel_fn"
      ]
    ]
  },
  {
    "id": "a360vel_fn",
    "type": "function",
    "z": "a360vel_tab",
    "name": "flatten velocity",
    "func": "// Flatten dyn/vib/notify velocity (in/s) -> flat topic the MQTT datasource can read.\n// dyn/vib/notify nests fields under \"Reading\"; velocity scalars are VelXrms/VelYrms/VelZrms.\nvar p = msg.payload;\nvar r = (p && p.Reading && typeof p.Reading === 'object') ? p.Reading : p;\nif (!r || r.Serial === undefined) return null;\nfunction num(v){ return (typeof v === 'number' && isFinite(v)) ? v : null; }\nvar vx=num(r.VelXrms), vy=num(r.VelYrms), vz=num(r.VelZrms);\nvar out = { Serial:r.Serial, ID:r.ID,\n  vel_x_rms:vx, vel_y_rms:vy, vel_z_rms:vz,\n  x_rms:num(r.Xrms), y_rms:num(r.Yrms), z_rms:num(r.Zrms) };\nvar ax=[vx,vy,vz].filter(function(v){return v!==null;});\nif (ax.length){ var s=0; ax.forEach(function(v){s+=v*v;}); out.vel_overall = Math.sqrt(s); }\nif (vx===null && vy===null && vz===null) return null; // nothing to publish\nmsg.payload = out;\nmsg.topic = 'access360/43250372/derived/vib';\nnode.status({fill:'green',shape:'dot',text:'vel '+r.Serial});\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 120,
    "wires": [
      [
        "a360vel_out"
      ]
    ]
  },
  {
    "id": "a360vel_out",
    "type": "mqtt out",
    "z": "a360vel_tab",
    "name": "derived/vib",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "a599e2ecbf5f669d",
    "x": 650,
    "y": 120,
    "wires": []
  }
]
